.place-container {
  display: flex;
  padding-right: 0px;
  align-items: center;
  justify-content: space-around;
  width: 75%;
  margin: 0 auto;
  margin-top: 5% !important;
}

.place-container img {
  height: 500px;
  width: 650px;
  crop: fill;
  object-fit: cover;
}

.text-container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 620px;
 height: 550px;
}

.recommendation-count-container p {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    width: 450px;
  }
// THUMB
.recommendation-count-container {
  display: flex;
};

#recommendation-thumb {
  margin-top: 6px;
  margin-right: 10px;
}

.img-container {
  // width: 638px;
  // height: 638px;
    margin-top: 20px;
  }

.underline {
  border-bottom: solid;
  padding-bottom: 6px;
  border-color: #CFECF5;
  margin-right: 5px;
  }

.recommenders-cont {
  display: flex;
  justify-content: center;
  margin-top: -20px;
  margin-right: 20px;
  overflow-x: auto;
}

.recommenders {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 5px;
  }
}

  .p-btn-cont {
    display: flex;
    justify-content: center;
  }

.place-img-cont {
  margin-top: -30px;
  min-width: 53vw;
  margin-left: 30px;
}

.location-container {
  display: flex;
}

.location-container h3 {
  font-weight: 200px;
  font-family: 'Roboto', sans-serif;

  max-width: 40vw;
    h3 {
      color: grey;
      font-size: 20px;
      word-spacing: 0px;
    }
}


.description-container {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  width: 450px;
  max-height: 350px;
  overflow-y: auto;
  text-align: center;
}

.place-img {
  width: 638px;
  height: 638px;
}

.title-star-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 45%;
  text-align: center;
}

.review-scroller {
overflow-y: scroll;
max-height: 600px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 80px;
  color: #000000;
}


h3 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
  color: #000000;
}

h4 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  color: #000000;
}

h6 {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  color: #000000;
}


.description-plan-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.similar-places-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#profile-similar-places-container {
  width: 90%;
}

.plan-container {
  margin-top: 50px;
  margin-left: 30px;
}


.icons-container p {
  font-family: 'Roboto Mono', monospace;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.fa-star{
  color: #F8C103;
  margin-right: 10px;
}

#reviews-stars {
  color: #F1A975;
  margin-right: 2px !important;
}

.recommend-butn {
  font-family: 'Roboto Mono', monospace;
  width: 120px;
  height: 40px;
  background: #BDECB6;
  color: white;
  border: none;
  margin-right: 10px;
}

.book-butn {
  font-family: 'Roboto Mono', monospace;
  width: 120px;
  height: 40px;
  background: #334AC0;
  box-sizing: border-box;
  color: white;
  border: none;
  margin-left: 10px;
}

.place-card-with-border {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
}

.reviews-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 5% !important;
}

.p-review-title, .l-r-btn {
  display: flex;
  justify-content: center;
}


.reviews-card-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px !important;
  border: solid 1px;
  border-color: #E5E5E5;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews-card {
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 30px;
}

.reviews-card img {
  height:90px;
  width: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.reviews-card h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.reviews-card p {
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
  font-weight: lighter;
  font-size: 18px;
  line-height: 21px;
}

.reviews-card .reviews-card-infos {
  padding: 16px;
}


.p-form-cont {
  text-align: center;
}

#pbtn7 {
  color: #90A48A;
  background-color: #BDECB6;
  height: 30px;
  border-radius: 25px;
  border: none;
  width: 80px
}

#pbtn7:hover {
  width: 90px;
  transition: 0.3s;
}
