::-webkit-scrollbar {
display: none;
}

.super-container {
  display: flex;
  flex-direction: row;
}

.parent-inbox {
  margin-left: 15px;
}

.sidebar-m-container {
  margin-left: 70px;
  border-right: solid;
  border-width: 1px;
}

.message-main-parent {
  margin-left: 20vw;
}


.messages-title {
  margin-top: 32px;
  margin-left: 7px;
  text-align: center;
}

.m-border-div {
  border-bottom: solid;
  border-width: 1px;
}

.messages-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}

.messages-buttons-b {
  text-align: center;
}

.scroll-left-m {
  padding-right: 40px;
}

.index-chat-parent {
  overflow-y: auto;
  max-height: 65vh;
  padding-left: 10px;
}

#messages {
  margin-top: 20px;
  max-height: 60vh;
  overflow-y: auto;
  width: 480px;
}

.index-chat-container {
  margin-top: 20px;
  border: solid;
  border-color: grey;
  border-width: 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
  max-width: 200px;
  position: relative;
  transition: 0.4s;
  display: inline;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: 0.5s;
      margin-left: -7px;
      margin-right: -7px;
      margin-top: -7px;
      margin-bottom: 8px;
    }
   a {
    color: grey;
    font-size: 15px;
    transition: 0.4s;
   }
   a:hover {
     color: black;
   }
  }

.group-message-title {
  margin-left: -20px;
}

.index-chat-parent {
  margin-left: 11px;
}


.index-chat-container:hover{
  border-width: 2px;
    }

.message-avatar {
  img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
  }
}

.sender-container {
  display: flex;
  flex-direction: row;
}

.mn-container {
  margin-top: 5px;
}

.add-button {
  background-color: #BDECB6;
  width: 30px;
  border: none;
  border-radius: 8px;
}

.add-friend-button {
  background-color: #BDECB6;
  width: 30px;
  border: none;
  border-radius: 8px;
  width: 55px;
  padding-top: 4px;
}

.type-m-box input[type = "text"] {
  border-radius: 25px;
}

