.header-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin-top: 70px;
}

.upper-profile-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-content: center;
  margin-top: 70px;
}

.photo-container {
  margin: 20px;
}

.recommendations-container {
  margin-top: 60px;
}

.add-profile-picture {

}

