.header-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  align-content: center;
  margin-top: 70px;
}

.upper-profile-container {
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-content: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.friends-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.avatar-container {
  margin-left: 10px;
  margin-right: 10px;
  p {
    font-size: 14px;
  }
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s;
  }
}

.avatar-container:hover {
  img {
  border-color: grey;
  }
}

.find-friends {
  width: 95px;
  height: 30px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 20px;
  display: inline-block;
   a {
    font-family: 'Roboto-Mono', monospace;
    font-size: 12px;
    color: grey;
  }
}

.photo-container {
  margin: 20px;
}

.recommendations-container {
  margin-top: 60px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.recommendation-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: auto;
  position: relative;
}

#profile-title {
  background: rgba(30, 167, 210, 0.43);
  border-radius: 52px;
  height:12px;
  z-index: -1;
  font-family: 'Roboto', sans-serif;
}

.profile-text {
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  text-align: center;
  z-index: 1;
}

#friendship-name {
  font-family: 'Roboto-mono', monospace;
  font-size: 20px;
}

.empty-plans-img {
  width: 600px;
  height: 500px;
}

.plan-card {
  position: relative;
  border-radius: 10px;
  width: 75%;
  h2 {
    color: #FFFFFF;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.plan-card-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
}

.plan-card-date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
}

