<!-- See Daily Harvest Website -->

<div class="banner-card">
  <div class="banner-card-text">
    <h1>Socialite</h1>
    <p>Recommendations from people you trust. Share your social life with Socialite.</p>
    <button type="button" class="btn btn-dark btn-lg">Get Started</button>
  </div>
  <div class="banner mb-4">
    <img src="https://images.unsplash.com/photo-1579208570378-8c970854bc23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1590&q=80" alt="">
</div>
</div>

<div class="container">
  <div class="d-block mb-4">
    <h2>Discover Places</h2>
    <h2>You'll actually like.</h2>
    <%= link_to "See All Places", places_path, class:"btn btn-dark btn-lg"%>
  </div>
  <div class="homepage-image">
    <div class="row">
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <img src="https://images.unsplash.com/photo-1539639885136-56332d18071d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Card image cap" style="width: 225px; height: 324px; object-fit: cover;">
          </div>
          <div class="homepage-image-text">Bars</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <img src="https://images.unsplash.com/photo-1555992336-03a23c7b20ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" alt="Card image cap" style="width: 225px; height: 324px; object-fit: cover;">
          </div>
          <div class="homepage-image-text">Food & Drink</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <img src="https://images.unsplash.com/photo-1555086156-e6c7353d283f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80" alt="Card image cap" style="width: 225px; height: 324px; object-fit: cover;">
          </div>
          <div class="homepage-image-text">Nightclubs</div>
        </div>
      </div>
      <div class="col-sm">
        <div class="homepage-img-card">
          <div class="homepage-image darken">
            <img src="https://images.unsplash.com/photo-1536274236045-2ca6d4cba085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Card image cap" style="width: 225px; height: 324px";>
          </div>
          <div class="homepage-image-text">Outdoors</div>
        </div>
      </div>
    </div>
  </div>
</div>

