.group-title-container {
width: 60%;
margin: 0 auto;
font-size: 40pt;
text-align: center;
}

.group-title-container span {
font-size: 48pt;
}

.buttons-container {
width: 60%;
margin: 0 auto;
}

.group-post-btn {
  color: white;
  font-family: 'Roboto mono', monospace;
  background-color: #334AC0;
  letter-spacing: 1px;
}

.post-cont {
  text-align: center;
}


