<div class="place-container mt-4">
  <div class="text-container">
    <div class="container">
      <span class="word">The Breakfast Club</span>
    </div>
    <h3>6 King St, Soho</h3>
    <div class="star-rating" style="font-size:0.5rem;">
      <span class="fa fa-star fa-4x checked"></span>
      <span class="fa fa-star fa-4x checked"></span>
      <span class="fa fa-star fa-4x checked"></span>
      <span class="fa fa-4x fa-star"></span>
      <span class="fa fa-4x fa-star"></span>
    </div>
    <button type="button" class="recommend-btn">Recomend</button>
    <button type="button" class="book-btn">Book</button>
  </div>
  <img class="place-img" src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80" alt="">
</div>
  <hr class="horizontal-line my-4" size="30" width="75%">
